* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(27, 29, 28);
  color: antiquewhite;
}
.header {
  background-color: rgb(170, 52, 20);
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.logo {
  font-size: 40px;
  font-style: italic;
  letter-spacing: 5px;
}
.searchbar_and_button .search_box {
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  border-left: 5px solid rgb(246, 10, 6);
}
.searchbar_and_button .btn {
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
  color: antiquewhite;
  background-color: black;
  border: none;
  cursor: pointer;
}
.result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  width: 80%;
  margin: 10px auto;
  text-align: center;
  padding: 20px;
  place-items: center;
}
.result span {
  font-size: 50px;
  margin-block: 20px;
}
.recipe {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  color: black;
  box-shadow: 1px 1px 10px rgb(120, 114, 114);
  max-width: 350px;
  transition: transform 0.3s ease-in-out;
}
.recipe:hover {
  transform: scale(1.02);
}
.recipe img {
  height: 300px;
}
.recipe h3 {
  font-size: 24px;
  margin-block: 5px;
}
.recipe p {
  font-size: 20px;
  color: rgb(235, 10, 10);
  margin: 5px 0;
}
.recipe {
  font-weight: 200;
}
.recipe button {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 18px auto;
  background-color: red;
  color: antiquewhite;
}
.recipeDetail {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(158, 19, 9);
  border-radius: 12px;
  width: 40%;
  height: 60%;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
}

.recipe_details_content {
  padding: 30px;
}
.recipeName {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
.ingredientList li {
  margin-top: 10px;
  margin-left: 20px;
}
.recipeInstructions p {
  line-height: 30px;
  white-space: pre-line;
}
.ingredientList,
.recipeName,
.recipeInstructions {
  margin-bottom: 20px;
}
.popup_close_btn {
  border: none;
  font-size: 18px;
  padding: 8px;
  border-radius: 4px;
  background-color: red;
  color: antiquewhite;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* adding scrollbar to recipe detail popup */

.recipeDetail::-webkit-scrollbar {
  width: 10px;
}
.recipeDetail::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 16px;
  --webkit-border-radius: 16px;
}

body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(201, 29, 14);
}
body::-webkit-scrollbar-track {
  background-color: rgb(224, 215, 215);
}

/* responsiveness */

/* @media screen and (max-widht: 600px) {
  .container nav {
    flex-direction: column;
  }

  .container nav form {
    width: 80%;
    margin-top: 20px;
  }
} */
